<html>
<head>
<link rel="stylesheet" href="bulma.css"/>
<style>.hero {margin-bottom: 20px; }</style>
</head>
<body>
<section  class="hero is-primary">
  <div class=hero-body>
  <div class="container">

<div class="columns">
<div class="column is-8">
<h1 class="title"> henry santics</h1>
<h2 class="subtitle"> a nook on the digital space</h2>
</div>

<div class="column">
<span>
<a class="button " href="/">page1</a>
<a class="button " href="/page2">page2</a>
<a class="button " href="/page3">fruit</a>
<a class="button " href="/page4">books</a>
</span>
</div>
</div>

</div>
</div>
</section>

