<html>
<head>
<link rel="stylesheet" href="bulma.css"/>
<style>.hero {margin-bottom: 20px; }</style>
</head>
<body>

<% include header %>

<div class="container">

<% include page3 %>

</div><!--container end-->
</body>
</html>
