<div class="columns">
    <div class="column">
      <h1 class="title">page2</h1>
      <p>llorem ipsum sdfsdf dfsdfdf llorem ipsum sdfsdf
      dfsdfdf let et lorem ipsum sdfsdf dfsdfdf let orem
      dfsdfdf let et lorem ipsum sdfsdf dfsdfdf let orem</p>
      </div>

    <div class="column is-8">
      <h1 class="subtitle">lorem 2</h1>
      <p>ipsum sdfsdf ddfsdfdf let do dfsdfdf let do fsdfdf let do this> 
      ipsum sdfsdf ddfsdfdf let do dfsdfdf let do fsdfdf let do this 
      ipsum sdfsdf ddfsdfdf let do dfsdfdf let do fsdfdf let do this 
      ipsum sdfsdf ddfsdfdf let do dfsdfdf let do fsdfdf let do this 
      ipsum sdfsdf ddfsdfdf let do dfsdfdf let do fsdfdf let do this 
      ipsum sdfsdf ddfsdfdf let do dfsdfdf let do fsdfdf let do this</p> 
    </div>  
</div><!--column end-->

