<div class="columns">
    <div class="column">
      <h1 class="title">page3</h1>
      <p>
      <% fruit.forEach(function(ff) { %>
      	<li><%= ff.name %> %%---------> <%= ff.color %></li>
      <% }); %>
      </p>
      </div>

    <div class="column is-8">
      <h1 class="subtitle">lorem 3</h1>
      <p>ipsum sdfsdf ddfsdfdf let do dfsdfdf let do fsdfdf let do this> 
      ipsum sdfsdf ddfsdfdf let do dfsdfdf let do fsdfdf let do this 
      ipsum sdfsdf ddfsdfdf let do dfsdfdf let do fsdfdf let do this 
      ipsum sdfsdf ddfsdfdf let do dfsdfdf let do fsdfdf let do this 
      ipsum sdfsdf ddfsdfdf let do dfsdfdf let do fsdfdf let do this 
      ipsum sdfsdf ddfsdfdf let do dfsdfdf let do fsdfdf let do this</p> 
    </div>  
</div><!--column end-->

