<div class="columns">
    <div class="column">
      <h1 class="title">page4</h1>
      <p>
      <% books.forEach(function(book) { %>
      	<li><%= book.title %>- <%= book.author %> published: <%= book.dop %></li>
      <% }); %>
      </p>
      </div>

    <div class="column">
      <h1 class="subtitle">lorem 4</h1>
      <p>ipsum sdfsdf ddfsdfdf let do dfsdfdf let do fsdfdf let do this> 
      ipsum sdfsdf ddfsdfdf let do dfsdfdf let do fsdfdf let do this 
      ipsum sdfsdf ddfsdfdf let do dfsdfdf let do fsdfdf let do this 
      ipsum sdfsdf ddfsdfdf let do dfsdfdf let do fsdfdf let do this 
      ipsum sdfsdf ddfsdfdf let do dfsdfdf let do fsdfdf let do this 
      ipsum sdfsdf ddfsdfdf let do dfsdfdf let do fsdfdf let do this</p> 
    </div>  
</div><!--column end-->

